@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
    font-family: "Nunito", sans-serif;
}

body::-webkit-scrollbar{
    width: 7px;
}

body::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.304);
}

.main-container{
    height: 100%;
    width: 100%;
}

.nav-bar{
    width: 100%;
    height: 128px;
}

.nav-items{
    user-select: none;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #f2eae8;
    padding: 0px px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

.nav-items img{
    height: 100px;
    width: 100px;
}

.icons{
    height: 50px;
    width: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.icons img{
    height: 23px;
    width: 30px;
}

.icons span{
    font-size: 14px;
    font-weight: 400;
    color: #832627;
}

.nav-items input[type=text]{
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    padding:  9px 10px;
    width: 550px;
    flex-shrink: 1;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    left: 5px;
    border: none;
    transition: box-shadow 0.5s ease;
}

.nav-items input[type=text]::placeholder{
    font-size: 14px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
}

.input-search input[type=text]:focus-visible{
    outline: none;
    border: none;
    box-shadow: -100px 0px 50000px 1px #832627;
}


.input-search{
    display: flex;
    align-items: center;
}

.input-search img{
    height: 42px;
    width: 35px;
    background-color: white;
    padding: 8px 4px;
    cursor: pointer;
}

.search-icon{
    border-radius: 0px 5px 5px 0px;
}

.nav-logo{
    height: 50px;
    width: 80px;
}

.nav-logo img{
    height: 100%;
    width: 100%;
}

.cart-div{
    position: relative;
}

.cart-number{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 0;
    background-color: #832627;
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    color: white;
}

.icons:hover{
    cursor: pointer;
    scale: 1.1;
}

/* --------------------------NAV-BAR-2--------------------------------------- */

.nav-2{
    user-select: none;
    width: 100%;
    height: 115px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-shrink: 0;
    gap: 30px;
}

.nav-2 .pages{
    height: 100%;
    color: black;
    padding-bottom: 10px;
    font-size: 14px;
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 11;
    cursor: pointer;
}

.nav-2 .pages .super-list{
    color: black;
    text-decoration: none;
    font-size: 14.4px;
    transition: all 0.3s ease;
}

.nav-2 .pages .super-list:hover{
    font-weight: 600;
    color: #832627;
}

.nav-2 .pages .super-list::before{
    content: "";
    z-index: -1;
    width: 100%;
    position: absolute;
    transform: rotateY(90deg);
    bottom:0;
    left: 0;
    border-radius: 2px;
    background-color: #832627;
    height: 4px;
    overflow-x: hidden;
    transition: all 0.25s ease;
}

.nav-2 .pages .super-list:hover::before{
    transform: rotateY(0);
}

.dropdown-list{
    background-color: rgba(255, 255, 255,0.7);
    box-shadow: 0px 0px 30px 2px rgba(131, 38, 39, 0.5);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    height:min-content;
    width: fit-content;
    position: absolute;
    top: 100%;
    left: 0;
    margin-right: 10px;
    display: none;
    z-index: 15;
}

.pages:hover .dropdown-list{
    display: block;
    animation: fade-in 0.3s ease;
}

#shift-left{
    right: 0px !important;
}



/* -----------------------------Animations---------------------------------- */


@keyframes fade-in {
    from{
        transform: translate(10px, 10px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-down {
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes go-left {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-10px);
    }
    
} 

@keyframes go-right {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(10px);
    }
    
} 




/* --------------------------table css-------------------------------------- */

table, th, td {
    text-align: left;
    border-collapse: collapse;
}

th, td {
    padding: 7px;
}

td a{
    color: black;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}

td a:hover{
    color: #832627;
}

.category {
    font-size: 16px;
    color: #832627;
    font-weight: 700;
}

.gift-card {
    color: #832627;
    font-size: 13px;
}

td img{
    height: 20px;
    width: 20px;
}

.color{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

@media screen and (min-width:1121px){
    .nav-bar{
        display: block;
    }
    .mini-nav{
        display: none;
    }
}

@media screen and (max-width:1120px) {
    .nav-bar{
        display: none;
    }
    .mini-nav{
        display: block;
        background-color: #f2eae8;
        width: 100%;
        height: 120px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mini-nav-container{
        height: 100px;
        width: 100%;
    }

    .upper-mini-nav{
        display: flex;
        justify-content: space-between;
    }

    .menu-n-logo{
        height: 50%;
        width:14%;
        padding: 10px 5px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        cursor: pointer;
    }
    .menu-n-logo img{
        height: 25px;
    }

    .mini-icons img{
        cursor: pointer;
        height: 30px;
        padding: 1px;
    }

    .search{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search input[type=text]{
        font-family: "Nunito", sans-serif;
        font-size: 15px;
        width: 650px;
        padding: 5px 0px;
        outline: none;
        border: none;
    }

    .input-icons img{
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 30px;
        background-color: white;
    }

    .input-icons .mini-search{
        border-radius: 5px 0px 0px 5px;
    }

    .input-icons .mini-mic{
        border-radius: 0px 5px 5px 0px;
    }
}

.side-menu{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 10000000000;
    transform: translateX(-200%);
    width: 80%;
    overflow-y: scroll;
    box-shadow: 0px 0px 2000px 20px black;
    background-color: white;
    transition: all 0.3s ease;
}

.side-menu::-webkit-scrollbar{
    width: 0px;
    
}

.side-menu-header{
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.side-menu .side-menu-header{
    height: 165px;
    position: relative;
    background: hsla(359, 55%, 33%, 1);
    background: radial-gradient(circle, rgb(130, 38, 40) 0%, hsla(0, 0%, 100%, 1) 100%);
    background: -moz-radial-gradient(circle, rgb(130, 38, 40) 0%, hsla(0, 0%, 100%, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(130, 56, 38, 0.819) 0%, hsla(0, 0%, 100%, 1) 100%);
}

.side-menu-header img{
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    height: 25px;
}

#check:checked~.side-menu{
    transform: translateX(0);
}

.side-menu-header h3, .side-menu-header h4{
    font-size: 25px;
    color: #832627;
    font-weight: 800;
}

.first-order{
    font-size: 20px;
    font-weight: 600;
}

.side-menu-header-right h3{
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.side-menu-header-right h3:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: 700;
}

/* ----------------------------------------------- */
.menu {
    width: 200px;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .menu-item {
    margin-bottom: 10px;
  }
  
  /* Hide the checkboxes */
  .menu-item input[type="checkbox"] {
    display: none;
  }
  
  .menu-title {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .menu-title:hover {
    color: brown;
  }

  .sublist {
    list-style: none;
    padding-left: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .sublist li {
    padding: 5px 0;
    color: #555;
  }
  .menu-item input[type="checkbox"]:checked + .menu-title + .sublist {
    max-height: 500px;
    padding: 10px 0;
    overflow: visible;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Set background to white */
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
}

nav {
    font-size: 14px;
    color: #7f7f7f;
    margin-bottom: 10px;
}

nav a {
    
    text-decoration: none;
    font: 400 16px ibm plex sans, sans-serif;
    color: #56544e !important;
}

.right-arrow {
    padding-left: 10px;
    padding-right: 10px;
}

header h1 {
    font-size: 25px;
    color: #631717;
    & > .result {
        font-family: inter, san-serif;
        color: #56544e;
        font-size: 18px;
        font-weight: 400;
    }
   margin-bottom: 20px;
   margin-top: 15px;
}

.filters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filter-btn,
.category-btn {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-btn img {
    width: 20px; /* Set a consistent width for the icon */
    height: auto; /* Maintain aspect ratio */
    
}

.filter-btn span {
    font-size: 12px;
    margin-left: 5px;
}

.filter-btn img {
    padding-right: 10px;
}

.filter-btn:hover,
.category-btn:hover {
    background-color: #fff;
}

/* .sort {
    margin-left: auto;
    border: 1px solid #ddd;
    width: fit-content;
    border-radius: 30px;
}

.sort .sort-options {
    color: #56544e;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-align: left;
}

.content-sort p {
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 500 16px ibm plex sans, sans-serif !important;
    margin-top: -3px;
    margin-right: 8px;
    border: none;
    display: inline-block;
    
}

.content-sort {
    padding: 5px 6px;
    margin: 6px 7px;

} */

.sort {
    margin-left: auto;
    border: 1px solid #ddd;
    width: fit-content;
    border-radius: 30px;
}

.sort-container {
    display: inline-block; 
    position: relative;
}

.sort-button {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 8px 16px;
    font-family: sans-serif;
    cursor: pointer; 
    display: flex;
    align-items: center;
}

.sort-button p {
    margin: 0 8px 0 0; 
    font-size: 16px;
}

.sort-button img {
    width: 20px; 
    height: auto;
}

/* Product List Styles */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Increased size for boxes */
    gap: 20px; /* Space between boxes */
    margin-top: 20px; /* Space above product list */
}

.product {
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease; 
    /* Transition for scaling */
  
}


.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.badge {
    position: absolute;
    background: linear-gradient(90deg, rgba(131, 39, 41, 0.9) 0%, rgba(245, 206, 155, 0.9) 135%) !important;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 4px;
    z-index: 1; /* Ensure badge is above other elements */

    & > .star {
        padding-right: 5px;
    }
}



.image-wrapper {
    transition: transform 0.3s ease;
}

.default-image,
.hover-image {
    width: 100%;
    height: auto; /* Ensure images maintain their aspect ratio */
    border-radius: 4px;
    transition: opacity 0.1s ease; /* Add transition for opacity */
}

.hover-image {
    position: absolute;
    top: 0;
    right: -100%; /* Start off-screen to the right */
    opacity: 0; /* Initially hidden */
   
}

.image-container:hover {
    box-shadow: 4px 4px 4px 4px rgb(230, 228, 228);
    border: #d1d0cd solid;
    border-radius: 4px;
    border-width: 2px;
   
}

.image-container:hover .hover-image {
    /* Show hover image on hover */
    right: 0; /* Move into view */
    opacity: 1; /* Show image */
    transition: right 0.3s ease, opacity 0.3s ease; /* Smooth transition */  
    border: #56544e;
    border-radius: 7px;
   
    
}


.image-container:hover .default-image {
    opacity: 0; /* Hide default image on hover */
}

.image-container .image-wrapper {
    transition: transform 0.3s ease, border 0.3s ease;
}

/* Zoom effect on images */
.image-container:hover .image-wrapper {
    transform: scale(1.05); /* Zoom in on the image wrapper */
   
  
}




/* Heart icon style */
.like-icon {
    font-size: 24px; /* Adjust size as needed */
    position: absolute;
    top: 10px; /* Position as needed */
    right: 10px; /* Position as needed */
    color: #aaa; /* Initial color */
    cursor: pointer;
   
}
.like-icon:hover .wishlist-btn {
    opacity: 1; /* Fade in */
    pointer-events: auto; /* Enable interaction */
}
.wishlist-btn {
    width: 115px;
    position: absolute; 
    top: 30px; 
    right: 0px; 
    background-color: #f8f4f4; 
    box-shadow: 10px 10px 5px rgb(111, 110, 110);
    color: rgb(11, 2, 2); 
    border: none; /* Remove border */
    padding: 5px 10px; /* Padding around the button */
    border-radius: 5px; /* Rounded corners */
    transition: opacity 0.3s ease; /* Transition for fade effect */
    opacity: 0; /* Initially hidden */
    pointer-events: none;
    /* Prevent interaction when hidden */
}
/* Wishlist Button hover effect */
.wishlist-btn:hover {
    background-color: #f8f4f4; 
    box-shadow: 10px 10px 5px rgb(111, 110, 110);
}

.hover-buttons {
    position: absolute; /* Position it relative to the image */
    bottom: 10px; /* Position buttons 10px from the bottom */
    right: 10px; /* Position buttons 10px from the right */
    display: flex; /* Use flexbox to align the buttons */
    gap: 0; /* Remove space between buttons, as we'll add partitions */
    opacity: 0; /* Start hidden */
    transition: opacity 0.3s ease; /* Smooth transition for showing the buttons */
    border: 1px solid gray; /* Shared border */
    background-color: white; /* White background for the buttons container */
    border-radius: 5px 0 0 0; /* Rounded corners for the border */
    padding: 5px; /* Padding around the buttons */
}

.image-container:hover .hover-buttons {
    opacity: 1; /* Show the buttons on hover over the image */
}

.similar-btn, .try-btn {
    padding: 5px 10px; /* Decreased padding for smaller buttons */
    background-color: transparent; /* Transparent background for buttons */
    color: black; /* Black text color */
    border: none; /* Remove button border */
    cursor: pointer; /* Change cursor on hover */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    border-right: 1px solid gray; /* Add right border to create a partition */
}

.try-btn {
    border-right: none; /* Remove the right border from the last button */
}

.similar-btn:hover, .try-btn:hover {
    background-color: #a0524d; /* Change background on hover */
    color: white; /* Change text color on hover */
}

.try-btn img, .similar-btn img {
    margin-right: 5px; /* Space between the icon and text */
    width: 16px; /* Adjust icon size to fit smaller buttons */
    height: auto; /* Maintain aspect ratio */
}

.product-details {
    margin: 15px 15px 10px 15px;
}

.product-name {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: start;
}

.price-status {
    display: flex;
    justify-content: space-between; /* Distributes space evenly if needed */
    align-items: center; /* Align items vertically centered */
    margin-top: 5px; /* Adjust margin as needed */
}

.product-price {
    font-size: 18px;
    color: #631717;
    font-weight: bold;
}

.product-status {
    font-size: 14px;
    color: red;
    margin-left: 10px; /* Space between price and status */
}

.category-grid-banner-slot {
    grid-column: span 2; /* Make the banner span two columns */
    
}

.category-grid-banner-slot .category-grid-banner img {
    min-height: 28.5rem;
    height: 100%;
    -o-object-fit: fill;
    border-radius: 4px;
    width: 100%; /* Ensure image takes full width of the banner */
    object-fit: cover; /* Maintain aspect ratio but cover the entire area */
}

.img-banner {
    vertical-align: middle;
    border: none;
    overflow-clip-margin: content-box;
    overflow: clip;

}



.load-more-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.load-more-btn {
    background-color: #8b1e1b;
    color: white;
    padding: 10px 40px;
    height: 60px;
    border-radius: 50px;  /* Fully rounded button */
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.load-more-btn:hover {
    background-color: #6a1413; /* Darker red on hover */
}

.assurance {
        margin-top: 60px;
   
        display: flex;
        justify-content: center;
        align-items: center;
        height: 550px; /* adjust the height according to your needs */
        
        background-image: url('./assets-gold/assurance-union.png');
        background-size:100%;
        background-position: center;
        background-repeat: no-repeat;
     
}

@media (max-width: 1200px) {
    .assurance {
      background-size: 1000px 400px; /* smaller size for smaller screens */
    }
  }
  @media (max-width: 900px) {
    .assurance {
      background-size: 800px 350px; /* even smaller size for even smaller screens */
    }
  }

.ass-head {
    font: 400 40px fraunces, serif;
    color: #300708;
}

.ass-head h1 {
    display: block;
   
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.ass-desc {
    font: 300 24px fraunces, serif;
    margin-bottom: 54px;
    color: #56544e;
}

.assurance-contents .assurance-elements {
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    
    align-items: center;
    width: 100%;
    height: 174px;
}


.assurance-content {
    text-align: center;
    position: relative;
    z-index: 1; /* to place it on top of the image */
  }
  
  .assurance-element {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr); /* create 4 columns of equal width */
    gap: 80px; /* add a gap between the items */

  }

  .assurance-item p{
   
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
        text-align: center;
    
  }

  .assurance-item img {
    width: 120px;
    height: 98px;
  }

  .assurance-element .assurance-item p {
    margin: 10px 0 0 0 ;
    font: 400 20px fraunces, serif;
    text-align: center;
    color: #300708;
    
  }
/* recently viwed */
#recently-viewed-container {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 60px;
    margin-left: 70px;
    display: flex;
    z-index: 2;
  }
  
  /* Style the button */
  #recently-viewed-button {
    background-color: #550d0d;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    & >  .eye {
       margin-top: 5px;
        height: 10px;
        margin-left: 10px;
      }
  }
  
  /* Add hover effect to the button */
  #recently-viewed-button:hover {
    background-color: hsl(0, 39%, 40%);
  }

  /* live button*/
  .live-on {
     display: block;
  }
  .live-box {
    position: fixed;
    visibility: visible;
    cursor: pointer;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    top:70%;
    right: 0px;
    width: 32px;
    transition: all 0.5s ease 0 ;
    z-index: 999999;
  }

  .live-box-in {
    background-color: #832729;
    color: white;
    padding: 7px;
    position: relative;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    writing-mode: vertical-rl;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    visibility: visible;
    cursor: pointer;
  }

 /* Explor ring colection section*/

 .seosecborder {
    background-color: #fff;
    padding: 30px 50px;
    border: .0625rem solid #832729;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    border-radius: .625rem;
    -webkit-box-shadow: 0 0 1.25rem rgba(131, 39, 41, .188235);
    box-shadow: 0 0 1.25rem rgba(131, 39, 41, .188235);
}

@media (min-width: 1400px) {
    .explor-container {
        max-width: 1320px;
    }
}

@media (min-width: 1300px) {
    .explor-container {
        max-width: 1205px;
    }
}
@media (min-width: 1280px) {
    .explor-container {
        max-width: 1110px;
    }
}
.explor-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.seofooter-h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.seofooter-p {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: black;
    font-family: 'Nunito Sans';
}


.explor-container p {
   
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.frames {
    display: flex;
}

.frames div {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px;
}
.frame {
    border-radius: 100%;
    height: 120px;
    width: 120px;
    background-color: white;
    box-shadow: 0px 12px 30px -5px rgba(0, 0, 0, 0.192);
    overflow: hidden;
}
.frames img {
    transform: scale(1.2);
}
.frame img {
    height: 120px;
    width: 120px;
}
.img-ring {
    transform: scale(1) !important;
}
img {
    vertical-align: middle;
    border-style: none;
}

.frames p {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    width: 120px;
    line-height: 16px;
}

.searches {
    margin-bottom: 1rem;
}

.seofooter-search span a {
    text-decoration: none;
    color: black;
} 
 
.seosecborder h2 {
    line-height: 1.6rem;
}
.searches h2 {
    margin-bottom: 20px;
}
.seofooter-h2 {
    font-weight: 700;
    font-size: 1.563rem;
    line-height: 2.125rem;
    color: #852729;
    font-family: 'Nunito Sans';
}

@media only screen and (max-width: 1180px) {
    .seofooter-search-box {
        width: 100%;
    }
}

@media only screen and (max-width: 773px) {
    .seofooter-search {
        width: 200px;
    }
}

.seofooter-search-box {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    width: 75%;
}

.seofooter-search {
    width: 230px;
    background-color: #F2E9E9;
    display: flex;
    border-radius: 27px;
    padding: 9px 11px 9px 14px;
    margin: 4px 0px;
    justify-content: space-between;
}

.seofooter-search img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border-style: none;
}

.first-pro-para {
    font-family: 'Nunito Sans';
    margin-top: 10px;
}

.ul {
    margin-left: 30px;
    color: black;
    margin-top: 25px;
    font-family: 'Nunito Sans';
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 1rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.ul li {
    list-style: unset !important;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

@media only screen and (max-width: 1000px) {
    .faq {
        flex-direction: column;
        justify-content: center;
    }
}

.faq {
    display: flex;
    padding: 30px 0px 20px 0px;
    width: 100%;
    margin-top: 5px;
}
.faq-text {
    width: 80%;
    display: flex;
    padding-right: 20px;
    flex-direction: column;
    justify-content: center;
}

.main-faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    flex-wrap: nowrap;
}

.faq-icon {
    width: 8px;
    height: 15px;
    margin-right: 10px; 
   
}
.main-faq img {
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
   
}
.main-faq div {
    display: flex;
    align-items: center;
}


.main-faq div a p {
    color: black;
    margin-top: 0;
    font-size: 15px;
}
.stores p {
    line-height: 21px;
}
.main-faq p {
    margin-bottom: 0;
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
 a {
    text-decoration: none;
    color: #000;
    
 }




  
 /* footer */

 @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');



footer{
    font-family: "Nunito Sans", sans-serif;
    background-color: #efe3e3;
    margin-top: 20px;
    

}

.main{
    user-select: none;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 70px;
    grid-template-areas: 
    "lists lists lists download-link"
    "divider divider divider divider"
    "links links links links";
    overflow-y: auto;  
   
   
}

.main h3{
    font-size: 20px;
    font-weight: 700;
    color: #832627;
    position: relative;
    z-index: 1;
}

.main ul{
    grid-area: lists;
    list-style: none;
    line-height: 3.6;
}

.main ul li a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    position: relative;
    transition: all 0.3s ease;
}

.main ul li a:hover{
    cursor: pointer;
    font-weight: 700;
}

.main ul li a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1.5px;
    width: 0px;
    background-color: black;
    transition: all 0.3s ease;
}

.main ul li a:hover::before{
    width: 100%;
}

.download{
    grid-area: download-link;
   
}

.main .download h4{
    font-size: 20px;
    font-weight: 700;
    /* text-align: center; */
}

.main .download .image{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.image img{
    height: 200px;
    width: 200px;
    
}

.download-links{
    display: flex;
    justify-content: center;
    height: 70px;
}

.download-links img{
    height: 40px;
    width: 134px;
    transition: all 0.4s ease;
    border-radius: 9px;
}

.download-links img:hover{
    filter: brightness(80%);
    box-shadow: 0px 0px 200px 2px #832627;
}

.follow-us{
    display: flex;
    justify-content: space-evenly;
}

.follow-us a img{
    height: 25px;
    width: 25px;
    transition: scale 0.3s ease;
}

.follow-us a img:hover{
    scale: 1.5;
}

.contact-us img{
    height: 25px;
    width: 35px;
    transition: all 0.3s ease;
}

.contact-us img:hover{
    transform: scale(1.1);
}

.divider{
    margin: 0 auto;
    width: 90%;
    height: 10px;
    border-top: 2px solid black;
}

.lower-footer{
    height: 150px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.lower-footer .investors img{
    height: 25px;
}

.tnc{
    width: 400px;
    font-size: 14px;
    color: #832627;
    line-height: 30px;
}

.terms a{
    font-size: 14px;
    color: #832627;
    text-decoration: none;
    padding: 0 12px;
    transition: all 0.3s ease;
}

.terms .pp{
    border-left: 1px solid #832627;
    border-right: 1px solid #832627;
}

.terms a:hover{
    font-weight: 700;
}
